*{
  margin: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header  {
  display: flex;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header nav ul{
  display: flex;
  padding: 0;
  margin: 12px;
  list-style: none;
  font-size: 1.5em;
  transition: 0.5s;
}
@media screen and (max-width: 360px) {
  header nav ul{
    flex-direction: column;
  }
}
header nav ul :hover{
  color: blue;
  transition: 0.5s;
  font-weight: bold;
}




body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
